table, th, td, tr {
    border-bottom: 1px solid black;
    font-size: smaller;
}

tr {
    border-bottom: 1px solid black;
}

p {
    font-size: smaller;
}

table {
    width: 100%;
}

.display-none {
    display: none;
}

.card-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-text {
    max-height: 15rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: 10px;
}

.card-body {
    padding: 10px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}